/* ==========================================================================
  Loader pages ------> Don't Work
   ==========================================================================

		#preloader {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #fff;

			z-index: 9999;

		}

		#status {
			width: 20vw;
			height: 50vh;
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			margin: 0 auto;
			  padding: 5px 10px;


			background-image: url(../img/loader.gif);

			background-repeat: no-repeat;
			background-position: center;
		}
		*/

/* ===============================================================
  ------------- Base styles: opinionated defaults-----------------
   ============================================================== */

html {
	color: #222;
	font-size: 1em;
}

a {
	text-decoration: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}


textarea {
	resize: vertical;
}

.hidden {
	display: none !important;
}

/* ===============================================================
  ----------------------- HOME PAGE LOGIN ----------------------
   ============================================================== */

/*--------- HEADER ---------*/

header {
	position: fixed;
	z-index: 999;
	width: 100%;
	font-weight: 600;
	font-family: 'Raleway';
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}

header div {
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 2vh;
	text-align: center;
	vertical-align: middle;
}

.logo {
	padding-top: 1vh;
	width: 70%;
	text-align: center;
	transition: ease-in-out 300ms;
}

.logo:hover {
	transform: scale(1.05);
}

.nav_droite,
.nav_gauche {
	padding-top: 40px;
}

.nav_droite a {
	color: white;
	position: relative;
	margin-left: 4%;
}


.nav_gauche a {
	margin-right: 4%;
	position: relative;
	color: white;
}


.nav_gauche a:after {
	content: " ";
	background-color: #fff;
	position: absolute;
	right: 0;
	width: 0;
	top: -25;
	height: 1px;
	bottom: -20px;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.nav_gauche a:hover:after {
	left: 0%;
	width: 100%;
}

.nav_droite a:after {
	content: " ";
	background-color: #fff;
	position: absolute;
	right: 0;
	top: -25;
	width: 0;
	height: 1px;
	bottom: -20px;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.nav_droite a:hover:after {
	left: 0%;
	width: 100%;
}

/*--------- FIRST PAGE ---------*/

.content {
	background-image: url(../img/bg.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.title {
	grid-template-columns: 1fr;
	display: grid;
	padding-top: 28vh;
	margin: auto;
	color: white;
	text-align: center;
	font-family: 'Raleway';
}

.title img {
	width: 25%;
	margin: auto;
}

.title h3 {
	margin-top: 80px;
	line-height: 4vh;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
}

.title h4 {
	text-transform: uppercase;
	font-size: 1em;
}

.carton,
.form_swig {
	margin-top: 5vh;
	display: block;
	width: ;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	animation: swing 1000ms infinite;
}

.carton:hover,
.form_swig:hover,
.admin_carton:hover {
	cursor: pointer;
}

@keyframes swing {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

/*------======== SECOND PAGE ------========*/

.content2_bg {
	background-image: url(../img/bg2.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.content2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 250px;
	grid-gap: 15px;
	width: 1100px;
	margin: auto;
	padding-top: 11%;
}

.index_grid {
	position: relative;
	height: 100%;
	box-shadow: 0px 0px 67px -5px rgba(0, 0, 0, 0.75);
}

.index_grid span {
	font-family: 'Raleway';
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: block;
	line-height: 3px;
}

.index_grid h1 {
	padding-top: 2%;
	padding-left: 20px;
	padding-right: 10px;
	margin-bottom: 2px;
	text-transform: uppercase;
	color: white;
	font-size: 14pt;
	font-weight: 500;
}

.index_grid h4 {
	padding-left: 20px;
	padding-right: 10px;
	padding-top: -5px;
	color: white;
	font-size: 0.8em;
	font-weight: 400;
}

/* --- Bloc --- */

#bloc1 {
	background-image: url("../img/img_grid/4.jpg");
	background-position: top;
	background-size: cover;
}

#bloc3 {
	background-image: url("../img/img_grid/construct.png");
	background-position: top;
	background-size: cover;
}

#bloc4 {
	background-image: url("../img/img_grid/3.jpg");
	background-position: top;
	background-size: cover;
}

#bloc6 {
	background-image: url("../img/img_grid/5.jpg");
	background-position: top;
	background-size: cover;
}

/* --- Texte --- */

.grid_txt_right {
	text-align: right;
}

/* --- Bloc Centré Haut --- */

.index_grid_midtop {
	position: relative;
	height: 125%;
	box-shadow: 0px 0px 67px -5px rgba(0, 0, 0, 0.75);
	background-image: url("../img/img_grid/1.jpg");
	background-position: top;
	background-size: cover;
}

.index_grid_midtop span {
	font-family: 'Raleway';
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: block;
	margin: auto;
	line-height: 3px;
	text-align: center;
}

.index_grid_midtop h1 {
	padding-top: 2%;
	padding-left: 10px;
	margin-bottom: 2px;
	text-transform: uppercase;
	color: white;
	font-size: 14pt;
}

.index_grid_midtop h4 {
	padding-left: 10px;
	color: white;
	font-size: 0.8em;
	font-weight: 400;
}

/* --- Bloc Centré Bas --- */

.index_grid_midbottom {
	margin-top: 60px;
	position: relative;
	height: 75%;
	box-shadow: 0px 0px 67px -5px rgba(0, 0, 0, 0.75);
	background-image: url("../img/img_grid/carton.jpg");
	background-position: top;
	background-size: cover;
}

.index_grid_midbottom span {
	font-family: 'Raleway';
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: block;
	margin: auto;
	line-height: 3px;
	text-align: center;
}

.index_grid_midbottom h1 {
	padding-top: 2%;
	padding-left: 10px;
	margin-bottom: 2px;
	text-transform: uppercase;
	color: white;
	font-size: 14pt;
}

.index_grid_midbottom h4 {
	padding-left: 10px;
	color: white;
	font-size: 0.8em;
	font-weight: 400;
}


/*------======== THIRD PAGE ------========*/

.content3_bg {
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg3.png);
	background-position: top;
	background-size: cover;
}

.content3 {
	padding-top: 20vh;
	text-align: center;
}

.mockup {
	width: 900px;
}


/* ==========================================================================
--------------------------- PAGE AJOUTER DU MATERIEL ----------------------
========================================================================== */

/*------======== HEADER ------========*/

.AjouterMatos_page1 {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: url(../img/ajoutermatos.png) fixed top;
	background-size: cover;
	position: relative;
}

.AjouterMatos_page1 h2 {
	margin-top: 2%;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.AjouterMatos_page1 h2:hover {
	transform: scale(1.05);
}


/*------======== FORMULAIRES ------========*/

.AjouterMatos_grid {
	display: grid;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
}

/* --- Taille des box ---*/

.screen-form {
	width: 80%;
	height: 100%;
	margin-top: 4%;
	margin-left: 10%;
	background-color: rgba(1, 1, 1, 0.6);
	box-shadow: 0px 0px 42px -4px rgba(0, 0, 0, 0.95);
	transition: ease-in-out 300ms;
}

.screen-form:hover {
	transform: scale(1.05);
}

.add_title {
	display: block;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 1em;
}

.little_title {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 0.8em;
}

.douchette_desc {
	text-align: center;
	font-size: 0.7em;
	color: #fff;
	font-family: 'Raleway';
	display: block;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 5%;
}

.screen-form input[type=text] {
	padding: 4% 2% 4% 2%;
	color: #1f1f1f;
	background-color: #ededed;
	border-style: none;
	width: 80%;
	text-align: center;
}

.screen-form input[type=submit] {
	padding: 4% 2% 4% 2%;
	color: #1f1f1f;
	background-color: #ededed;
	border-style: none;
	width: 80%;
	transition: ease-in-out 300ms;
}

.screen-form input[type=submit]:hover {
	transform: scale(1.05);
}

textarea {
	padding: 10px 20px 10px 10px;
	color: #1f1f1f;
	background-color: #ededed;
	border-style: none;
	width: 77%;
}

.screen-form select {
	margin-top: 5px;
	margin-bottom: 15px;
	color: #1f1f1f;
	background-color: #ededed;
	width: 80%;
	height: 45px;
	font-style: italic;
	font-size: 0.9em;
	align-content: center;
}

.create_type_add a {
	color: #f47a7e;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
	font-family: 'Raleway';
}

.screen-form img {
	padding: 5%;
	width: 50%;
}


::placeholder {
	font-style: italic;
	text-align: center;
	font-family: 'Raleway';
	font-size: 0.8em;
}

.add_etapes {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 5%;
}

.add_etapes img {
	padding-right: 15vw;
	padding-left: 15vw;
}


/* ==========================================================================
------------------ PAGE ADMINSTRER DU MATERIEL ----------------------
========================================================================== */

/* ---------======Header=====---------*/

.administrer_header {
	background-attachment: fixed;
	background-image: url(../img/bgadmin.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.header_admin {
	position: sticky;
}


/*------ PARTIE TABLEAU FILTERS -========*/

.administrer_list h2 {
	margin-top: 4%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.administrer_list h2:hover {
	transform: scale(0.95);
}


.administrer_filter {
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	border-top: 2px solid #f47a7e;
	border-left: 2px solid #f47a7e;
	border-right: 2px solid #f47a7e;
	padding: 15px 0px 10px 0px;
	background-color: rgba(1, 1, 1, 0.3);
}

.administrer_filter ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	width: 100%;
	color: #fff;
}

.administrer_filter ul li {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.7em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	line-height: 2;
}


.create_type {
	margin-top: 2vh;
}

.create_type a {
	color: #f47a7e;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	font-family: 'Raleway';
}

/*------ SELECT -========*/

.monselect {
	width: 8vw;
	height: 4vh;
	margin-left: 5px;
	border: none;
	background-color: #fff;
	text-align-last: center;
	color: #1f1f1f;
	font-weight: 500;
}

.admin_trier {
	margin-top: 2vh;
	width: 4vh;
	height: 4vh;
	color: #f47a7e;
	background-color: #fff;
	border: none;
}

.fa-search {
	font-size: 10px;
}

/*------ PARTIE TABLEAU ADMINISTRER DU MATOS -========*/

.limiter {
	width: 100%;
	margin: 0 auto;
}

.container-table100 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.wrap-table100 {
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

table * {
	position: relative;
}

table td,
table th {
	padding-left: 8px;
}

table thead tr {
	height: 7vh;
	background: #f47a7e;
}

table tbody tr {
	height: 5vh;
}

table tbody tr:last-child {
	border: 0;
}

table td,
table th {
	text-align: left;
}

table td.l,
table th.l {
	text-align: right;
}

table td.c,
table th.c {
	text-align: center;
}

table td.r,
table th.r {
	text-align: center;
}


.table100-head th {
	font-family: 'Raleway';
	font-size: 1em;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

tbody tr {
	font-family: 'Raleway';
	font-size: 0.8em;
	;
	color: #575757;
	line-height: 1.2;
	font-weight: unset;
}

tbody tr:hover {
	color: #555555;
	background-color: #ffdde0;
	cursor: pointer;
}

.column1 {
	width: 260px;
	text-align: center;
}

.column2 {
	width: 110px;
	text-align: center;
}

.column3 {
	width: 145px;
	text-align: center;
}

.column4 {
	width: 110px;
	text-align: center;
}

.column5 {
	width: 290px;
	text-align: center;
}

.column6 {
	width: 130px;
	text-align: center;
	padding-right: 62px;
}

.column7 {
	width: 30px;
	text-align: center;
	padding-right: 62px;
}

.fa-trash-o {
	font
}

.pin_admin {
	padding-bottom: 40px;
}

.admin_pin {
	margin-top: 5vh;
	display: block;
	width: 2vw;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	animation: swing 1000ms infinite;
}





/* ==========================================================================
------------------ PAGE RESERVER DU MATERIEL ----------------------
========================================================================== */

/* ---------======Header=====---------*/

.reserve_header {
	background-attachment: fixed;
	background-image: url(../img/bgreserv.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	min-height: 100vh;

}

.header_reserve {
	position: sticky;
}


/*------ TITLE Reserver -========*/

.reserve_list h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.reserve_list h2:hover {
	transform: scale(0.95);
}

.reserve_list h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.reserve_list h4:hover {
	transform: scale(0.95);
}

/*------ PARTIE MATERIEL RESERVER -========*/

.reserve_bloc {
	margin-left: 10%;
	margin-right: 10%;
	padding: 1%;
	background-color: rgba(1, 1, 1, 0.3);
	border: 1px solid #6cceec;
}

.reserve_bloc_grid hr {
	margin-left: 10%;
	margin-right: 10%;
}

.add_reserve_txt{
	text-align: center;
}

.add_reserve_txt span{
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	line-height: 1.5;
}

.add_reserve_txt i{
	margin-top: 1%;
	color: #fff;
	font-size: 1em;
	text-align: center;
	font-weight: 800;
	border: solid 1px #fff;
	padding: 5px;
	cursor: pointer;
}

.reserve_bloc_input{
	margin-top: 1%;
	text-align: center;
}

.input_reserve {
	width: 20%;
	height: 30px;
	margin-bottom: 1%;
	margin-right: 1%;
}


.reserve_bloc_validate {
	text-align: center;
}

.reserve_bloc_validate input[type=text],
.reserve_bloc_validate input[type=submit]{
	width: 20%;
	height: 30px;
	margin-bottom: 1%;
	margin-right: 1%;
	font-family: 'Raleway';
}


/*------ PARTIE TABLEAU RESERVERS FILTERS -========*/

.reserve_filter {
	display: flex;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 2%;
	border-top: 2px solid #6cceec;
	border-left: 2px solid #6cceec;
	border-right: 2px solid #6cceec;
	padding: 20px 0px 20px 0px;
	background-color: rgba(1, 1, 1, 0.3);
}

.reserve_filter ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	width: 100%;
	color: #fff;
}

.reserve_filter ul li {
	margin-left: 5%;
	text-transform: uppercase;
	font-size: 0.9em;
	text-align: center;
	vertical-align: middle;
	font-family: 'Raleway';
	font-weight: 800;
}

/*------ PARTIE TABLEAU RESERVER DU MATOS -========*/

.reserve_limiter {
	width: 100%;
	margin: 0 auto;
}

.reserve_container-table100 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.reserve_wrap-table100 {
	padding-left: 12%;
	padding-right: 12%;
	padding-bottom: 5%;
	width: 100%;
}

.reserve_table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.reserve_table * {
	position: relative;
}

.reserve_table td,
.reserve_table th {
	padding-left: 8px;
}

.reserve_table thead tr {
	height: 7vh;
	background: #6cceec;
}

.reserve_table tbody tr {
	height: 5vh;
}

.reserve_table tbody tr:last-child {
	border: 0;
}

.reserve_table td,
.reserve_table th {
	text-align: center
}

.reserve_table td.l,
.reserve_table th.l {
	text-align: right;
}

.reserve_table td.c,
.reserve_table table th.c {
	text-align: center;
}

.reserve_table td.r,
.reserve_table th.r {
	text-align: center;
}


.reserve_table100-head th {
	font-family: 'Raleway';
	font-size: 0.9em;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

.reserve_tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

.reserve_tbody tr {
	font-family: 'Raleway';
	font-size: 0.8em;
	color: #575757;
	line-height: 1.2;
	font-weight: unset;
}

.reserve_tbody tr:hover {
	color: #555555;
	background-color: #dff8ff;
	cursor: pointer;
}

.reserve_column1 {
	width: 150px;
	text-align: center;
}

.reserve_column1 i {
	font-size: 1.5em;
}

.reserve_column2 {
	width: 180px;
	text-align: center;
}

.reserve_column3 {
	width: 245px;
	text-align: center;
}

.reserve_column4 {
	width: 130px;
	text-align: center;
}

.reserve_column5 {
	width: 190px;
	text-align: center;
}

.reserve_column6 {
	width: 230px;
	text-align: center;
	padding-right: 62px;
}

.reserve_column7 {
	width: 180px;
	text-align: center;
	padding-right: 62px;
}

/*------ SLIDER RESERVER DU MATERIEL CONFIRMER -========*/

.page_slider {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	text-align: center;
background: rgba(1, 1, 1, 0.2);
	z-index: 9999;
}

.page_slider span {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 35vh;
	color: #fff;
	text-transform: uppercase;
	font-size: 2.2em;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.page_slider button{
	display: inline-block;
	color: #000;
	padding: 15px 35px;
	margin-top: 45vh;
	margin-right: 30px;
}

.page_slider div{
	display: inline-block;
}

.page_slider div a{
	display: inline-block;
	color: #000;
	padding: 15px 35px;
	margin-top: 45vh;
	margin-right: 30px;
}