/* ==========================================================================
  Loader pages ------> Don't Work
   ==========================================================================

		#preloader {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: #fff;

			z-index: 9999;

		}

		#status {
			width: 20vw;
			height: 50vh;
			position: absolute;
			top: 20%;
			left: 0;
			right: 0;
			bottom: 0;
			text-align: center;
			margin: 0 auto;
			  padding: 5px 10px;


			background-image: url(../img/loader.gif);

			background-repeat: no-repeat;
			background-position: center;
		}
		*/

/* ===============================================================
  ------------- Base styles: opinionated defaults-----------------
   ============================================================== */

html {
	color: #222;
	font-size: 1em;
}

a {
	text-decoration: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}


textarea {
	resize: vertical;
}

.hidden {
	display: none !important;
}

/* ===============================================================
  ----------------------- HOME PAGE  ----------------------
   ============================================================== */

/*--------- HEADER ---------*/

header {
	position: fixed;
	z-index: 999;
	width: 100%;
	font-weight: 600;
	font-family: 'Raleway';
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}

header div {
	color: white;
	text-transform: uppercase;
	font-size: 12px;
	margin-top: 2vh;
	text-align: center;
	vertical-align: middle;
}

.logo {
	padding-top: 1vh;
	width: 70%;
	text-align: center;
	transition: ease-in-out 300ms;
}

.logo:hover {
	transform: scale(1.05);
}

.nav_droite,
.nav_gauche {
	padding-top: 40px;
}

.nav_droite a {
	color: white;
	position: relative;
	margin-left: 4%;
}


.nav_gauche a {
	margin-right: 4%;
	position: relative;
	color: white;
}


.nav_gauche a:after {
	content: " ";
	background-color: #fff;
	position: absolute;
	right: 0;
	width: 0;
	top: -25;
	height: 1px;
	bottom: -20px;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.nav_gauche a:hover:after {
	left: 0%;
	width: 100%;
}

.nav_droite a:after {
	content: " ";
	background-color: #fff;
	position: absolute;
	right: 0;
	top: -25;
	width: 0;
	height: 1px;
	bottom: -20px;
	transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.nav_droite a:hover:after {
	left: 0%;
	width: 100%;
}

/*--------- FIRST PAGE ---------*/

.content {
	background-image: url(../img/bg.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.title {
	grid-template-columns: 1fr;
	display: grid;
	padding-top: 28vh;
	margin: auto;
	color: white;
	text-align: center;
	font-family: 'Raleway';
}

.title img {
	width: 25%;
	margin: auto;
}

.title h3 {
	margin-top: 80px;
	line-height: 4vh;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.3em;
}

.title h4 {
	text-transform: uppercase;
	font-size: 1em;
}

.carton,
.form_swig {
	margin-top: 5vh;
	display: block;
	width: ;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	animation: swing 1000ms infinite;
}

.carton:hover,
.form_swig:hover,
.admin_carton:hover {
	cursor: pointer;
}

@keyframes swing {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}

/*------======== SECOND PAGE ------========*/

.content2_bg {
	background-image: url(../img/bg2.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.content2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 250px;
	grid-gap: 15px;
	width: 1100px;
	margin: auto;
	padding-top: 11%;
}

.index_grid {
	position: relative;
	height: 100%;
	box-shadow: 0px 0px 67px -5px rgba(0, 0, 0, 0.75);
}

.index_grid span {
	font-family: 'Raleway';
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: block;
	line-height: 3px;
}

.index_grid h1 {
	padding-top: 2%;
	padding-left: 20px;
	padding-right: 10px;
	margin-bottom: 2px;
	text-transform: uppercase;
	color: white;
	font-size: 14pt;
	font-weight: 500;
}

.index_grid h4 {
	padding-left: 20px;
	padding-right: 10px;
	padding-top: -5px;
	color: white;
	font-size: 0.8em;
	font-weight: 400;
}

/* --- Bloc --- */

#bloc1 {
	background-image: url("../img/img_grid/4.jpg");
	background-position: top;
	background-size: cover;
}

#bloc3 {
	background-image: url("../img/img_grid/construct.png");
	background-position: top;
	background-size: cover;
}

#bloc4 {
	background-image: url("../img/img_grid/3.jpg");
	background-position: top;
	background-size: cover;
}

#bloc6 {
	background-image: url("../img/img_grid/5.jpg");
	background-position: top;
	background-size: cover;
}

/* --- Texte --- */

.grid_txt_right {
	text-align: right;
}

/* --- Bloc Centré Haut --- */

.index_grid_midtop {
	position: relative;
	height: 125%;
	box-shadow: 0px 0px 67px -5px rgba(0, 0, 0, 0.75);
	background-image: url("../img/img_grid/1.jpg");
	background-position: top;
	background-size: cover;
}

.index_grid_midtop span {
	font-family: 'Raleway';
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: block;
	margin: auto;
	line-height: 3px;
	text-align: center;
}

.index_grid_midtop h1 {
	padding-top: 2%;
	padding-left: 10px;
	margin-bottom: 2px;
	text-transform: uppercase;
	color: white;
	font-size: 14pt;
}

.index_grid_midtop h4 {
	padding-left: 10px;
	color: white;
	font-size: 0.8em;
	font-weight: 400;
}

/* --- Bloc Centré Bas --- */

.index_grid_midbottom {
	margin-top: 60px;
	position: relative;
	height: 75%;
	box-shadow: 0px 0px 67px -5px rgba(0, 0, 0, 0.75);
	background-image: url("../img/img_grid/carton.jpg");
	background-position: top;
	background-size: cover;
}

.index_grid_midbottom span {
	font-family: 'Raleway';
	background-color: rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	display: block;
	margin: auto;
	line-height: 3px;
	text-align: center;
}

.index_grid_midbottom h1 {
	padding-top: 2%;
	padding-left: 10px;
	margin-bottom: 2px;
	text-transform: uppercase;
	color: white;
	font-size: 14pt;
}

.index_grid_midbottom h4 {
	padding-left: 10px;
	color: white;
	font-size: 0.8em;
	font-weight: 400;
}


/*------======== THIRD PAGE ------========*/

.content3_bg {
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg3.png);
	background-position: top;
	background-size: cover;
}

.content3 {
	padding-top: 20vh;
	text-align: center;
}

.mockup {
	width: 900px;
}


/* ==========================================================================
--------------------------- PAGE AJOUTER DU MATERIEL ----------------------
========================================================================== */

/*------======== HEADER ------========*/

.AjouterMatos_page1 {
	overflow: hidden;
	width: 100%;
	height: 100vh;
	background: url(../img/ajoutermatos.png) fixed top;
	background-size: cover;
	position: relative;
}

.AjouterMatos_page1 h2 {
	margin-top: 2%;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.AjouterMatos_page1 h2:hover {
	transform: scale(1.05);
}


/*------======== FORMULAIRES ------========*/

.AjouterMatos_grid {
	display: grid;
	text-align: center;
	grid-template-columns: 1fr 1fr 1fr;
}

/* --- Taille des box ---*/

.screen-form {
	width: 80%;
	height: 100%;
	margin-top: 4%;
	margin-left: 10%;
	background-color: rgba(1, 1, 1, 0.6);
	box-shadow: 0px 0px 42px -4px rgba(0, 0, 0, 0.95);
	transition: ease-in-out 300ms;
}

.screen-form:hover {
	transform: scale(1.05);
}

.add_title {
	display: block;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 1em;
}

.little_title {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	font-family: 'Raleway';
	font-weight: 500;
	font-size: 0.8em;
}

.douchette_desc {
	text-align: center;
	font-size: 0.7em;
	color: #fff;
	font-family: 'Raleway';
	display: block;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 5%;
}

.screen-form input[type=text] {
	padding: 4% 2% 4% 2%;
	color: #1f1f1f;
	background-color: #ededed;
	border-style: none;
	width: 80%;
	text-align: center;
}

.screen-form input[type=submit] {
	padding: 4% 2% 4% 2%;
	color: #1f1f1f;
	background-color: #ededed;
	border-style: none;
	width: 80%;
	transition: ease-in-out 300ms;
}

.screen-form input[type=submit]:hover {
	transform: scale(1.05);
}

textarea {
	padding: 10px 20px 10px 10px;
	color: #1f1f1f;
	background-color: #ededed;
	border-style: none;
	width: 77%;
}

.screen-form select {
	margin-top: 5px;
	margin-bottom: 15px;
	color: #1f1f1f;
	background-color: #ededed;
	width: 80%;
	height: 45px;
	font-style: italic;
	font-size: 0.9em;
	align-content: center;
}

.create_type_add a {
	color: #f47a7e;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
	font-family: 'Raleway';
}

.screen-form img {
	padding: 5%;
	width: 50%;
}


::placeholder {
	font-style: italic;
	text-align: center;
	font-family: 'Raleway';
	font-size: 0.8em;
}

.add_etapes {
	display: flex;
	width: 100%;
	justify-content: center;
	margin-top: 5%;
}

.add_etapes img {
	padding-right: 15vw;
	padding-left: 15vw;
}


/* ==========================================================================
------------------ PAGE ADMINSTRER DU MATERIEL ----------------------
========================================================================== */

/* ---------======Header=====---------*/

.administrer_header {
	background-attachment: fixed;
	background-image: url(../img/bgadmin.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.header_admin {
	position: sticky;
}


/*------ PARTIE TABLEAU FILTERS -========*/

.administrer_list h2 {
	margin-top: 4%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.administrer_list h2:hover {
	transform: scale(0.95);
}


.administrer_filter {
	display: flex;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 2%;
	border-top: 2px solid #f47a7e;
	border-left: 2px solid #f47a7e;
	border-right: 2px solid #f47a7e;
	padding: 15px 0px 10px 0px;
	background-color: rgba(1, 1, 1, 0.3);
}

.administrer_filter ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	width: 100%;
	color: #fff;
}

.administrer_filter ul li {
	width: 100%;
	text-transform: uppercase;
	font-size: 0.7em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	line-height: 2;
}


.create_type {
	margin-top: 2vh;
}

.create_type a {
	color: #f47a7e;
	font-weight: 800;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	vertical-align: middle;
	font-family: 'Raleway';
}

/*------ SELECT -========*/

.monselect {
	width: 8vw;
	height: 4vh;
	margin-left: 5px;
	border: none;
	background-color: #fff;
	text-align-last: center;
	color: #1f1f1f;
	font-weight: 500;
}

.admin_trier {
	margin-top: 2vh;
	width: 4vh;
	height: 4vh;
	color: #f47a7e;
	background-color: #fff;
	border: none;
}

.fa-search {
	font-size: 10px;
}

/*------ PARTIE TABLEAU ADMINISTRER DU MATOS -========*/

.limiter {
	width: 100%;
	margin: 0 auto;
}

.container-table100 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.wrap-table100 {
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
}

table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

table * {
	position: relative;
}

table td,
table th {
	padding-left: 8px;
}

table thead tr {
	height: 7vh;
	background: #f47a7e;
}

table tbody tr {
	height: 5vh;
}

table tbody tr:last-child {
	border: 0;
}

table td,
table th {
	text-align: left;
}

table td.l,
table th.l {
	text-align: right;
}

table td.c,
table th.c {
	text-align: center;
}

table td.r,
table th.r {
	text-align: center;
}


.table100-head th {
	font-family: 'Raleway';
	font-size: 1em;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

tbody tr {
	font-family: 'Raleway';
	font-size: 0.8em;
	;
	color: #575757;
	line-height: 1.2;
	font-weight: unset;
}

tbody tr:hover {
	color: #555555;
	background-color: #ffdde0;
	cursor: pointer;
}

.column1 {
	width: 260px;
	text-align: center;
}

.column2 {
	width: 110px;
	text-align: center;
}

.column3 {
	width: 145px;
	text-align: center;
}

.column4 {
	width: 110px;
	text-align: center;
}

.column5 {
	width: 290px;
	text-align: center;
}

.column6 {
	width: 130px;
	text-align: center;
	padding-right: 62px;
}

.column7 {
	width: 30px;
	text-align: center;
	padding-right: 62px;
}

.column7_gest {
	width: 30px;
	text-align: center;
	padding-right: 62px;
}

.fa-trash-o {
	font
}

.pin_admin {
	padding-bottom: 40px;
}

.admin_pin {
	margin-top: 5vh;
	display: block;
	width: 2vw;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	animation: swing 1000ms infinite;
}





/* ==========================================================================
------------------ PAGE RESERVER DU MATERIEL ----------------------
========================================================================== */

/* ---------======Header=====---------*/

.reserve_header {
	background-attachment: fixed;
	background-image: url(../img/bgreserv.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}

.header_reserve {
	position: sticky;
}


/*------ TITLE Reserver -========*/

.reserve_list h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.reserve_list h2:hover {
	transform: scale(0.95);
}

.reserve_list h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.reserve_list h4:hover {
	transform: scale(0.95);
}

/*------ PARTIE MATERIEL RESERVER -========*/

.reserve_bloc {
	margin-left: 10%;
	margin-right: 10%;
	padding: 1%;
	background-color: rgba(1, 1, 1, 0.3);
	border: 1px solid #6cceec;
}

.reserve_bloc_grid hr {
	margin-left: 10%;
	margin-right: 10%;
}

.add_reserve_txt {
	text-align: center;
}

.add_reserve_txt span {
	color: #fff;
	text-transform: uppercase;
	font-size: 1em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	line-height: 1.5;
}

.add_reserve_txt i {
	margin-top: 1%;
	color: #fff;
	font-size: 1em;
	text-align: center;
	font-weight: 800;
	border: solid 1px #fff;
	padding: 5px;
	cursor: pointer;
}

.reserve_bloc_input {
	margin-top: 1%;
	text-align: center;
}

.input_reserve {
	width: 20%;
	height: 30px;
	margin-bottom: 1%;
	margin-right: 1%;
}


.reserve_bloc_validate {
	text-align: center;
}

.reserve_bloc_validate input[type=text],
.reserve_bloc_validate input[type=submit] {
	width: 20%;
	height: 30px;
	margin-bottom: 1%;
	margin-right: 1%;
	font-family: 'Raleway';
}


/*------ PARTIE TABLEAU RESERVERS FILTERS -========*/

.reserve_filter {
	display: flex;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 2%;
	border-top: 2px solid #6cceec;
	border-left: 2px solid #6cceec;
	border-right: 2px solid #6cceec;
	padding: 20px 0px 20px 0px;
	background-color: rgba(1, 1, 1, 0.3);
}

.reserve_filter ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	width: 100%;
	color: #fff;
}

.reserve_filter ul li {
	margin-left: 5%;
	text-transform: uppercase;
	font-size: 0.9em;
	text-align: center;
	vertical-align: middle;
	font-family: 'Raleway';
	font-weight: 800;
}

/*------ PARTIE TABLEAU RESERVER DU MATOS -========*/

.reserve_limiter {
	width: 100%;
	margin: 0 auto;
}

.reserve_container-table100 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.reserve_wrap-table100 {
	padding-left: 12%;
	padding-right: 12%;
	padding-bottom: 5%;
	width: 100%;
}

.reserve_table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.reserve_table * {
	position: relative;
}

.reserve_table td,
.reserve_table th {
	padding-left: 8px;
}

.reserve_table thead tr {
	height: 7vh;
	background: #6cceec;
}

.reserve_table tbody tr {
	height: 5vh;
}

.reserve_table tbody tr:last-child {
	border: 0;
}

.reserve_table td,
.reserve_table th {
	text-align: center
}

.reserve_table td.l,
.reserve_table th.l {
	text-align: right;
}

.reserve_table td.c,
.reserve_table table th.c {
	text-align: center;
}

.reserve_table td.r,
.reserve_table th.r {
	text-align: center;
}


.reserve_table100-head th {
	font-family: 'Raleway';
	font-size: 0.9em;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

.reserve_tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

.reserve_tbody tr {
	font-family: 'Raleway';
	font-size: 0.8em;
	color: #575757;
	line-height: 1.2;
	font-weight: unset;
}

.reserve_tbody tr:hover {
	color: #555555;
	background-color: #dff8ff;
	cursor: pointer;
}

.reserve_column1 {
	width: 150px;
	text-align: center;
}

.reserve_column1 i {
	font-size: 1.5em;
}

.reserve_column2 {
	width: 180px;
	text-align: center;
}

.reserve_column3 {
	width: 245px;
	text-align: center;
}

.reserve_column4 {
	width: 130px;
	text-align: center;
}

.reserve_column5 {
	width: 190px;
	text-align: center;
}

.reserve_column6 {
	width: 230px;
	text-align: center;
	padding-right: 62px;
}

.reserve_column7 {
	width: 180px;
	text-align: center;
	padding-right: 62px;
}

/*------ SLIDER RESERVER DU MATERIEL CONFIRMER -========*/

.page_slider {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	background: rgba(1, 1, 1, 0.6);
	z-index: 9999;
}

.slider_title {
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 35vh;
	color: #fff;
	text-transform: uppercase;
	font-size: 2.2em;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.slider_details {
	position: absolute;
		left: 0;
	right: 0;
	margin-top: 43vh;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.5em;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.position_textarea {
	position: absolute;
	left: 0;
	right: 0;
}

.slide_area {
	margin-top: 50vh;
	font-size: 1em;
	font-family: 'Raleway';
	width: 30%;
	text-align: center;
}

.page_slider button {
	display: inline-block;
	color: #000;
	padding: 15px 35px;
	margin-top: 60vh;
	margin-right: 30px;
}

.page_slider div {
	display: inline-block;
}

.page_slider div a {
	display: inline-block;
	color: #000;
	padding: 15px 35px;
	margin-top: 45vh;
	margin-right: 30px;
}


/* ==========================================================================
------------------ PAGE RECAP DE LA RESERVATION  ----------------------
========================================================================== */

/*------ LISTING EMPRUNT -========*/

.recap_header {
	background-attachment: fixed;
	background-image: url(../img/bgrecap.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}

/*------ PARTIE TABLEAU RESERVERS FILTERS -========*/

.recap_filter {
	display: flex;
	margin-left: 12%;
	margin-right: 12%;
	margin-top: 2%;
	border-top: 2px solid #e67e22;
	border-left: 2px solid #e67e22;
	border-right: 2px solid #e67e22;
	padding: 20px 0px 20px 0px;
	background-color: rgba(1, 1, 1, 0.3);
}

.recap_filter ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	width: 100%;
	color: #fff;
}

.recap_filter ul li {
	margin-left: 5%;
	text-transform: uppercase;
	font-size: 0.9em;
	text-align: center;
	vertical-align: middle;
	font-family: 'Raleway';
	font-weight: 800;
}

.search-orange {
	color: #e67e22;
}


/*------ PARTIE TABLEAU RECAP RESERVATION -========*/

.recap_limiter {
	width: 100%;
	margin: 0 auto;
}

.recap_container-table100 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.recap_wrap-table100 {
	padding-left: 12%;
	padding-right: 12%;
	padding-bottom: 5%;
	width: 100%;
}

.recap_table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.recap_table * {
	position: relative;
}

.recap_table td,
.recap_table th {
	padding-left: 8px;
}

.recap_table thead tr {
	height: 7vh;
	background: #e67e22;
}

.recap_table tbody tr {
	height: 5vh;
}

.recap_table tbody tr:last-child {
	border: 0;
}

.recap_table td.l,
.recap_table th.l {
	text-align: right;
}

.recap_table td.c,
.recap_table table th.c {
	text-align: center;
}

.recap_table td.r,
.recap_table th.r {
	text-align: center;
}


.recap_table100-head th {
	font-family: 'Raleway';
	font-size: 0.9em;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

.recap_tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

.recap_tbody tr {
	font-family: 'Raleway';
	font-size: 0.8em;
	color: #575757;
	line-height: 1.2;
	font-weight: unset;
}

.recap_tbody tr:hover {
	color: #555555;
	background-color: #ffe9d6;
	cursor: pointer;
}

.recap_column1 {
	width: 150px;
	text-align: center;
}

.recap_column2 {
	width: 180px;
	text-align: center;
}

.recap_column3 {
	width: 205px;
	text-align: center;
}

/*------ Liste materiel emprunt CAS "N"=====*/

.recap_column4main {
	width: 190px;
	text-align: center;
}

.recap_column4 {
	width: 190px;
	padding-top: 15px;
}

.recap_column4 ul {
	padding-left: 35%;
	list-style-type: square;
}

/*--===*/

.recap_column5 {
	width: 150px;
	text-align: center;
}

.recap_column6 {
	width: 150px;
	text-align: center;
}

.recap_column7 {
	width: 10px;
	text-align: center;
	padding-right: 62px;
}

.fa-print {
	color: #e67e22;
}

/*------ PRINT RECAP RESERVATION =====*/

.imprimer_recap button {
	height: 40px;
	font-size: 1.2em;
	font-family: 'Raleway', serif;
	border-style: none;
}

.imprimer_recap img {
	width: 30px;
	height: auto;
}

.title_recap {
	display: none;
}

.print_logo {
	padding-top: 1vh;
	width: 30%;
	text-align: center;
	display: none;
}



.print_column1 {
	display: block;
	width: 100px;
	margin: 150px auto;
	color: red;
}
/*
@media print {

	.print_logo {
		display: none;
	}

	header {
		display: none;
	}

	.recap_filter {
		display: none;
	}

	.recap_bloc {
		display: none;
	}

	.recap_bloc_grid {
		display: none;
	}

	.recap_column6 {
		display: none;
	}

	.recap_column1 {
		display: none;
	}

	.recap_recap {
		display: none;
	}

	.recap_hide {
		display: none;
	}
}*/


/* ==========================================================================
------------------ PAGE RENDE LE MATERIEL  ----------------------
========================================================================== */

/* ------==Header=====---*/

.rendre_header {
	background-attachment: fixed;
	background-image: url(../img/bg3.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}

.header_rendre {
	position: sticky;
}



/* ------============ETAPE 1 =================---*/

/* ------==Title=====---*/

.main_title_rendre h2 {
	margin-top: 3%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.8em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.main_title_rendre h2:hover {
	transform: scale(0.95);
}

/* --== NUMERO DE CARTE ETUDIANTE ===---*/

.rendre_etape1 {
	display: grid;
	text-align: center;
}

.form_rendre {
	width: 30%;
	height: 100%;
	margin-top: 2%;
	margin-left: 35%;
	background-color: rgba(1, 1, 1, 0.6);
	box-shadow: 0px 0px 42px -4px rgba(0, 0, 0, 0.95);
	transition: ease-in-out 300ms;
}

.form_rendre:hover {
	transform: scale(1.05);
}

.title_rendre {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 1.5em;
}

.rendre_input {
	display: block;
	text-align: center;
}

.rendre_input input {
	background-color: #ededed;
	width: 60%;
	height: 45px;
	text-align: center;
	font-family: 'Raleway';
}

.addtype_submit {
	margin-top: 5%;
}

.addtype_submit_btn {
	background-color: #ededed;
	width: 40%;
	height: 45px;
	font-size: 0.9em;
	align-content: center;
	font-family: 'Raleway';
}

/* ------============ETAPE 2 =================---*/

.camouflage {
	display: block;
}

/* ------ */

.main_title_rendre h3 {
	margin-top: 3%;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.7em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 700;
	transition: ease-in-out 300ms;
	line-height: 1.5;
}

.main_title_rendre h3 span {
 color: #50b65c;
}


.main_title_rendre h3:hover {
	transform: scale(0.95);
}

/* ------==RENDRE LE MATERIEL EMPRUNTER PAR UN ETUDIANT =====---*/

/*------ PARTIE TABLEAU -========*/

.rendre_limiter {
	width: 100%;
	margin: 0 auto;
}

.rendre_container-table100 {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.rendre_wrap-table100 {
	padding-left: 12%;
	padding-right: 12%;
	padding-bottom: 1%;
	width: 100%;
}

.rendre_table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.rendre_table * {
	position: relative;
}

.rendre_table td,
.rendre_table th {
	padding-left: 8px;
}

.rendre_table thead tr {
	height: 7vh;
	background: #50b65c;
}

.rendre_table tbody tr {
	height: 5vh;
}

.rendre_table tbody tr:last-child {
	border: 0;
}

.rendre_table td.l,
.rendre_table th.l {
	text-align: right;
}

.rendre_table td.c,
.rendre_table table th.c {
	text-align: center;
}

.rendre_table td.r,
.rendre_table th.r {
	text-align: center;
}


.rendre_table100-head th {
	font-family: 'Raleway';
	font-size: 0.9em;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
}

.rendre_tbody tr:nth-child(even) {
	background-color: #f5f5f5;
}

.rendre_tbody tr {
	font-family: 'Raleway';
	font-size: 0.8em;
	color: #575757;
	line-height: 1.2;
	font-weight: unset;
}

.rendre_tbody tr:hover {
	color: #555555;
	background-color: #ceffd7;
	cursor: pointer;
}

.rendre_column1 {
	width: 150px;
	text-align: center;
}

.rendre_column2 {
	width: 60px;
	text-align: center;
}

.rendre_column3 {
	width: 95px;
	text-align: center;
}

.rendre_column4 {
	width: 190px;
	text-align: center;
}

.rendre_column5 {
	width: 5px;
	text-align: center;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: slideUp;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*--- CheeckBox rendre ===*/

.checkbox {
  position: relative;
  cursor: pointer;
}

.checkbox:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}

.checkbox:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.checkbox:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #009688;
  border-top-style: none;
  border-right-style: none;
}

/*--===*/

.rendre_column6 {
	width: 5px;
	text-align: center;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-name: slideUp;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*--- CheeckBox perdu ===*/

.checkbox_perdu {
  position: relative;
  cursor: pointer;
}

.checkbox_perdu:before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  left: 0;
  z-index: 1;
  width: 1rem;
  height: 1rem;
  border: 2px solid #f2f2f2;
}

.checkbox_perdu:after {
  content: "";
  position: absolute;
  top: -0.125rem;
  left: 0;
  width: 1.1rem;
  height: 1.1rem;
  background: #fff;
  cursor: pointer;
}

.checkbox_perdu:checked:before {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  height: .5rem;
  border-color: #e36649;
  border-top-style: none;
  border-right-style: none;
}

/*--===*/


.rendre_tableau {
	text-align: center;
}

.rendre_tab_titre {
	display: block;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 700;
	transition: ease-in-out 300ms;
	line-height: 1.5;
}

.rendre_details {
	color: #fff;
	font-size: 1em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 500;
	padding: 20px 200px;
	border: 2px solid #fff;
}

.rendre_submit_btn{
	margin-top: 3%;
	margin-bottom: 3%;
	width: 25%;
	height: 40px;
}

/* ====================================================
------------------ PAGES ANNEXES  ----------------------
======================================================== */

/*------ ERROR 404 -========*/

  .page_error {
            color: #888;
            display: table;
            font-family: sans-serif;
            height: 100%;
            text-align: center;
            width: 100%;
        }

        .page_error_content {
            margin-top: 35vh;
        }

        .page_error_content h1 {
            color: #555;
            font-size: 3em;
            font-weight: 400;
			font-family: 'Raleway';
        }

		.page_error_content p {
            margin: 0 auto;
            width: 280px;
			font-size: 1em;
        }


/*------ AJOUTER UN TYPE -========*/

/* --==Header=---*/

.type_pageadd {
	background-attachment: fixed;
	background-image: url(../img/bgaddsupp.png);
	background-position: top;
	background-size: cover;
	width: 100%;
	min-height: 100vh;
}

.addtype_header {
	position: sticky;
}


/*--- title -=====*/

.addtype_title h2 {
	margin-top: 3%;
	color: #fff;
	text-transform: uppercase;
	font-size: 2em;
	text-align: center;
	font-family: 'Raleway';
	font-weight: 800;
	transition: ease-in-out 300ms;
}

.addtype_title h2:hover {
	transform: scale(0.95);
}

.Addtype_grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}

.screen_form_addtype {
	height: 100%;
	margin-top: 4%;
	margin-left: 35%;
	background-color: rgba(1, 1, 1, 0.6);
	box-shadow: 0px 0px 42px -4px rgba(0, 0, 0, 0.95);
	transition: ease-in-out 300ms;
}

.screen_form_addtype:hover {
	transform: scale(1.05);
}

.add_title_type {
	display: block;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 1.5em;
}

.addtype_input {
	display: block;
	text-align: center;
}

.addtype_input input {
	background-color: #ededed;
	width: 60%;
	height: 45px;
	text-align: center;
	font-family: 'Raleway';
}

.addtype_submit {
	margin-top: 5%;
}

.addtype_submit_btn {
	background-color: #ededed;
	width: 40%;
	height: 45px;
	font-size: 0.9em;
	align-content: center;
	font-family: 'Raleway';
	margin-bottom: 15px;
}

/*------ SUPPRIMER UN TYPE -========*/


.screen_form_supptype {
	height: 100%;
	margin-top: 4%;
	margin-right: 35%;
	margin-left: 5%;
	background-color: rgba(1, 1, 1, 0.6);
	box-shadow: 0px 0px 42px -4px rgba(0, 0, 0, 0.95);
	transition: ease-in-out 300ms;
}

.screen_form_supptype:hover {
	transform: scale(1.05);
}

.supp_title_type {
	display: block;
	padding-top: 30px;
	padding-bottom: 20px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Raleway';
	font-weight: 700;
	font-size: 1.5em;
}

.screen_form_supptype ul {
	margin-top: 5px;
	margin-bottom: 15px;
	color: #1f1f1f;
	color: #fff;
	font-size: 1em;
	font-family: 'Raleway';
	align-content: center;
	list-style-type: none;
	padding-right: 5%;
}

.supptype_submit {
	margin-top: 5%;
}

.supptype_submit_btn {
	background-color: #ededed;
	width: 40%;
	height: 45px;
	font-size: 0.9em;
	align-content: center;
	font-family: 'Raleway';
}
